.onebag {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    &__cup {
        width: 50%;
    }
    &__title {
        width: 40%;
        margin-top: -100px;//Центрируем изображение
        margin-left: 100px;
        margin-right: 100px;
    }
}
@media screen and (max-width: 1000px){
    .onebag {
        flex-flow: column nowrap;

        &__cup {
            width: 70%;
        }
    }
}
@media screen and (max-width: 750px){
    .onebag {
        &__cup {
            width: 90%;
        }
        &__title {
            width: 60%;
            margin: 0;
            margin-top: -100px;
        }
    }
}

@media screen and (max-width: 550px){
    .onebag {
        overflow: hidden;
        &__cup {
            margin-top: -150px;
            width: 120%;
        }
        &__title {
            // width: 80%;
            // margin: 0;
            margin-top: -50px;
        }
    }
}